*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: none;
}

/* Font: montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Montserrat.woff2") format("woff2");
}

:root {
  --color-py: #ffce22;
  --color-py-l: #ffd84d;
  --color-sy: #2469f6;
  --color-sy-l: #5087f8;
  --color-sy-xl: #dee9ff;
  --color-text: #1f2128;
  --color-text-btn: #878787;
  --color-border: #cdcdcd;
  --color-border-d: #bdbdbd;
  --font-1: "Montserrat", sans-serif;
}
