.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px 8px 22px;
  cursor: pointer;
  background-color: white;

  &:hover {
    .box {
      border-color: var(--color-border-d);

      &.checked {
        background-color: var(--color-sy-l);
        border-color: var(--color-sy);
      }

      &:not(.checked) {
        .tick {
          display: block;
          border-color: var(--color-border);
          opacity: 1;
        }
      }
    }
  }

  &:active {
    .box {
      outline: 2px solid var(--color-sy-xl);
    }
  }
}

.label {
  font-family: var(--font-1);
  font-size: 14px;
  color: var(--color-text);
}

.wrapper {
  width: 35px;
  height: 35px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.box {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  position: relative;
  background-color: white;
  transition: background-color 0.2s ease;

  &.checked {
    background-color: var(--color-sy);
    border-color: var(--color-sy);
  }
}

.tick {
  position: absolute;
  left: 8px;
  top: 1.5px;
  width: 6px;
  height: 14px;
  border: 1px solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
